
    <ul class="nav nav-pils">
      <li class="nav-item"><a class="nav-link active" href="/register">Registro</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="/profile">Mi perfil</a></li>
    </ul>
