<h1>Registro</h1>
<form>
  <label for="first_name">First_name</label>
  <input name="first_name" type="text" placeholder="first_name"><br>
  <label for="last_name">Last_name</label>
  <input name="last_name" type="text" placeholder="last_name"><br>
  <label for="email">Email</label>
  <input name="email" type="email" placeholder="email"><br>
  <label for="age">Age</label>
  <input name="age" type="number" placeholder="age"><br>
  <label for="password">Password</label>
  <input name="password" type="password" placeholder="password"><br>
  <button type="submit">Registrarme!</button>
</form>
<script src="/static/js/register.js"></script>