ul{
    list-style-type: none;
}

.product-page .product{
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  border: 1px solid black;
  margin: 0;
}

.product-page .product__item{
  flex: 1;
  padding: 0 10px;
}


* {
    box-sizing: border-box;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  .cart-list-table{
    margin-left: 100px;
  }

  table td{
    padding: 10px 5px;
    border: 1px solid black;
  }